<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo App</title>
</head>
<body>
    <div class="bg-blue-400 flex justify-center text-5xl font-semibold">
        <h1 class="m-4">Todo App</h1>
    </div>
    
    <div class="w-screen h-screen flex flex-col justify-center items-center gap-5">
        <form hx-post="/addtask" hx-target="#tasks" hx-swap="innerhtml" hx-ext="json-enc" class="flex flex-col w-96 h-30 gap-4"> 
            <input type="text" name="task" class="rounded border-gray-300 border h-14 bg-gray-100" placeholder="Insert your task here" required>
            <input type="submit" value="Add Task" class="bg-blue-400 rounded font-semibold text-3xl text-gray-50">
        </form>

        <div id="tasks" class="bg-gray-400 w-96 h-96 rounded-2xl overflow-scroll" hx-get="/gettask" hx-trigger="load"></div>
    </div>
</body>
</html>
